mixin books(data)
  section.books&attributes(attributes)
    .books__container.container
      h2.books__title.title Books
      .books__text We publish books that reflect our values and areas of interest
      .books__categories
        .books__category
